@charset "UTF-8";

::-webkit-scrollbar {
    width: 12px; 
}

::-webkit-scrollbar-thumb {
    background-color: var(--base);
    border-radius: 10px; 
}
        
::-webkit-scrollbar-track {
    background-color: var(--branco); 
    border-radius: 10px
}



body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--branco);
    background-size: cover;

}

main {
    width: 80%;
    max-width: 1200px; 
    padding: 20px;
    overflow-y: scroll;
}

h1{
    text-transform: capitalize;
    color: var(--sombra);
    text-align: center;
}
.opcoes{
    display: inline;
}

p{
    text-align: center;
}

hr{
    border: 0; 
    height: 1px;
    background-color: var(--base);
}

.opcoes{
    text-transform: capitalize;
    color: var(--base);
}

#semParametro{
    text-align: center;
    padding-top: 40vh;
}
