@charset "UTF-8";


#container{
    display: flex;
}

#lado1{
    padding: 20px;
    padding-left: 30px;
    padding-right: 100px;
}

#lado1 h1{
    color: var(--base);
}

#lado1 h2{
    padding: 10px;
}


fieldset{
    border-style: none;
    font-size: medium;
}

.radio{
    padding: 4px;
}

.radio:hover{
    background-color: var(--base);
    color: white;
    border-radius: 20px;
}


#idBotoes{
        display: flex;
        gap: 10px;
        padding-bottom: 20px;
        top: 20%
    }

button{
    position: relative;
    bottom: auto;
    width: 12vw;
    height: 5vh;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: auto;
    background-color: var(--branco);
    background-size: cover;
}


#enviar {
    background-image: url('../images/background-2.jpeg');
    background-size: cover;
    background-position: center;
    background-color: var(--base);
    border: var(--borda) solid 2px;
    opacity: 0.9;
    border-radius: 3px;
    color: var(--branco);
    font-weight: bold;
    box-shadow: var(--sombra)  2px 2px 5px;
    text-shadow: var(--sombra)  1px 1px 3px;
}


#enviar:hover {
    box-shadow: var(--sombra) 4px 4px 10px; 
}

#limpar{
    background-color: var(--branco);
    border: none;
    text-align: justify;
}

#limpar:hover{
    text-decoration: underline;
}

img{
    background-size: cover;
}

#lado2{
    background-color:var(--base);
    background-image: url(../images/background-2.jpeg);
    background-repeat: no-repeat;
    background-position: top center;
    width: 30vw;
    margin: 0px;
    color: var(--branco);
    text-align: center;
    padding-top: 25vh;
    display: inline-block;
}


#lado2 a{
    color: var(--branco);
    text-decoration: none;
}

#lado2 p{
    padding: 2px 20px 2px 20px;
}

#lado2 a:hover{
    text-decoration: underline;
}

#lado2 hr{
    width: 10vw;
    text-align: center;
    margin: auto;
}
