@charset "UTF-8";

::-webkit-scrollbar {
    width: 12px; 
}

::-webkit-scrollbar-thumb {
    background-color: var(--base); 
    border-radius: 10px; 
}
        
::-webkit-scrollbar-track {
    background-color: var(--branco); 
    border-radius: 10px
}



#container{
    display: flex;
}

#lado1{
    padding: 10px;
    padding-left: 50px;
    padding-right: 100px;
    max-width: 1200px; 
    overflow-y: auto;
}


h1{
    font-family: "titulo";
}

#lado1{
    background-image: url(../images/fundomain.jpg);
    background-size: cover;
}

#lado1 h1{
    color: var(--sombra);
    text-align: center;
}

#lado1 h2{
    padding: 10px;
    font-family: "titulo";
    color: var(--base);
    font-weight: normal;
    font-size: x-large;
}


fieldset{
    border-style: none;
    font-size: medium;
}

.radio{
    padding: 4px;
}

.radio:hover{
    background-color: var(--base);
    background-image: url(../images/background-2.jpeg);
    background-position: center center;
    color: white;
    border-radius: 20px;
}


#idBotoes{
        display: flex;
        gap: 10px;
        padding-bottom: 2vh ;
        top: 20%
    }

button{
    bottom: auto;
    width: 12vw;
    height: 5vh;
    justify-content: space-around;
    margin-top: 2vh;
    margin-bottom: auto;
    background-color: var(--branco);
    background-size: cover;
}


#enviar {
    background-image: url('../images/background-2.jpeg');
    background-size: cover;
    background-position: center;
    background-color: var(--base);
    border: var(--borda) solid 2px;
    opacity: 0.9;
    border-radius: 3px;
    color: var(--branco);
    font-weight: bold;
    box-shadow: var(--sombra)  2px 2px 5px;
    text-shadow: var(--sombra)  1px 1px 3px;
}


#enviar:hover {
    box-shadow: var(--sombra) 4px 4px 10px; 
}

#limpar{
    background-color: none;
    border: none;
    text-align: justify;
}

#limpar:hover{
    text-decoration: underline;
}

img{
    background-size: cover;
}

#lado2{
    background-color:var(--base);
    background-image: url(../images/background-2.jpeg);
    background-repeat: no-repeat;
    background-position: top center;
    width: 30vw;
    margin: 0px;
    color: var(--branco);
    text-align: center;
    padding-top: 25vh;
    display: inline-block;
    position: relative;
    box-shadow: -4px 0 5px #0c38bb6e;
}

#lado2 h1{
    padding-bottom: 0vh;
}

#lado2 a{
    color: var(--branco);
    text-decoration: none;
}

#lado2 p{
    padding: 10px 40px 10px 20px;
}

#lado2 a:hover{
    text-decoration: underline;
}

#lado2 hr{
    width: 10vw;
    text-align: center;
    margin: auto;
}

#lado2::before {
    content: '';
    position: absolute; 
    top: 0;
    left: -5px; 
    bottom: 0;
    width: 5px; 
    background-color: var(--sombraLeve); 
    box-shadow: 20px 0px 20px var(--sombraLeve); 
}
