@charset "UTF-8";


:root{
    --branco : hsl(221, 100%, 95%);
    --borda: #023373;
    --sombra: #021e73;
    --base: #286dd4;
}

*{
    font-family: "Roboto";
    margin:0px;
    overflow-y: hidden;
    font-size: 18px;
}


body{
    background-color: var(--base);
    background-image: url(../images/background.jpeg);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
}

main{
    background-color: var(--branco);
}